*,
body {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: 0;
}

body {
    margin: 0 auto;
    padding: 32px;
    display: flex;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #2a81dd;
    margin-top: 0;
    margin-bottom: 8px;
}

h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
}

:root {
    --micro: (/src/assets/one.svg);
}

.grey_text {
    color: #888b94;
}

.casual_card {
    width: 330px;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
    height: fit-content;
    cursor: pointer;
    margin-right: 10px;
    padding-bottom: 16px;
}

.casual_card:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.casual_card:hover .order_button {
    display: flex;
}

.casual_card:hover .points {
    color: #f33;
}

.card_description {
    padding: 16px;
}

.card_description_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Карточка товаров c батоном и красным текстом */

.order_card {
    width: 330px;
    background: #fff;
    border-radius: 8px;
    height: fit-content;
    padding-bottom: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: 20px;
}

.order_card:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.order_card:hover .order_button {
    display: flex;
}

.order_card:hover .points {
    color: #f33;
}

.order_button {
    display: none;
    justify-content: center;
    margin-top: 16px;
}

.order_btn {
    cursor: pointer;
    width: calc(100% - 32px);
    padding: 10px;
    height: 44px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    background-color: #2a81dd;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    border: none;
    outline: none;
}

/* Карточка товаров c лэйблом New */
.new_collection_card {
    position: static;
    width: 330px;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
    height: fit-content;
    cursor: pointer;
    padding-bottom: 16px;
}

.new_collection_card:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.new_collection_card:hover .order_button {
    display: flex;
}

.new_collection_card:hover .points {
    color: #f33;
}

.image {
    position: relative;
}

.new_label {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 13px;
    line-height: 20px;
    background: #64bd38;
    padding: 0 4px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
}

.points_block {
    position: relative;
    padding: 24px;
    height: fit-content;
    width: 330px;
    border-radius: 16px;
}

.points_block:hover {
    box-shadow: 0 2px 10px rgba(28, 24, 25, 0.2);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.one {
    position: absolute;
    left: 32px;
    top: 34px;
    background: url(/src/assets/one.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    padding: 10px;
}

.points_block_inner {
    margin-top: 64px;
    margin-bottom: 68px;
}

.points_block_title {
    margin-bottom: 8px;
}

.points_block_points {
    padding: 0 12px;
    background: #e9f2fb;
    width: fit-content;
    border-radius: 4px;
    margin-bottom: 8px;
}

.order_button1 {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.order_btn1 {
    cursor: pointer;
    width: calc(100% - 32px);
    padding: 10px;
    height: 44px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    background-color: #2a81dd;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    border: none;
    outline: none;
}
